@import "tailwindcss";

/* @tailwind base;
@tailwind components; */
@tailwind utilities;


/* Override fixed width and height for the phone input */
.react-tel-input .form-control {
  width: 100% !important;   /* full width */
  height: auto !important;  /* auto height */
  min-height: 40px;         /* or your preferred min-height */
}

/* Custom utilities for responsive design */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}
